/* .page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
} */

@keyframes in-out {
  0% {
    width: 0;
    left: 0;
  }
  75% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
    right: 0;
  }
}
