/* Buttons */

button {
  font-family: var(--font-sans);
  font-size: var(--font-size-small);
  line-height: 1;
  background: none;
  border: none;
  outline: none;
}

button:hover {
  background: #ededed;
}
