/* Typography */

h1 {
  font-size: var(--font-size-big);
  font-weight: 700;
}

h2 {
  font-weight: 900;
  margin-bottom: .5rem;
  line-height: 1.2;
  font-size: var(--font-size);
}

h3 {
  font-weight: 900;
  font-size: var(--font-size-small);
  margin-bottom: .5rem;
}

p {
  font-size: var(--font-size);
}

.meta {
  font-weight: 400;
  color: var(--gray);
}

.small-text {
  font-size: var(--font-size-smaller);
}

a {
  transition: all .3s;
}

a:hover,
a:focus {
  color: var(--record-color);
}

code, pre {
  font-family: "Courier New", Courier, monospace;
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}
