:root {
  /* Colors */
  --black: #333333;
  --white: #ffffff;
  --gray: #f9f9f9;
  --dark-grey: #9e9e9e;
  --html-blue: blue;
  --theme-color: #617998;
  --record-color: #eb5856;
  --record-color-half: #f0938d;
  --background-color: #efefef;
  --accent-color: #96b52c;

  --box-shadow: 0 3px 6px #33333333;

  /* Fonts */
  --font-sans: 'worksans', Arial, sans-serif;
  --font-bold: Arial, sans-serif;

  --font-size-smaller: 1rem;
  --font-size-small: 1.25rem;
  --font-size: 1.5rem;
  --font-size-large: 1.75rem;
  --font-size-big: 2rem;

  /* Spacing */
  --spacing-tiny: 0.3125rem;
  --spacing-smaller: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-larger: 3rem;
  --spacing-big: 4rem;

  /* Z-indexes */
  --z-index-low: 1;
  --z-index-high: 2;
  --z-index-overlay: 3;

  /* Stave */
  --stave-height: 20vw;

  /* App */
  --app-width: 30rem;
}

@media (min-width: 25rem) {
  :root {
    --font-size-smaller: 1rem;
  }
}

@media (min-width: 40rem) {
  :root {
    --stave-height: 6rem;
  }
}
